html, body {
    width: 100%;
}

html, body, header {
    margin: unset;
    padding-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #263037;
    background-color: #fffafa;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.flex-container {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 3em;
}

/* Header */

header {
    margin-bottom: 4em;
}

/* Navbar */

/* https://www.youtube.com/watch?v=FNXgsTFrD7U */

.navbar {
    background-color: #263037;
    color:#fffafa;
    font-weight: bold;
    position: relative;
}

.navbar ul {
    margin: unset;
    padding: unset;
    list-style: none;
    display: flex;
}

.navbar .nav-toggle {
    display: flex;
    vertical-align: middle;
}

.navbar .company-name {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold; */
    background-color: #000059;
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    color: inherit;
    vertical-align: middle;
}

.navbar .company-name img {
    height: 1em;
    filter: invert(1);
    vertical-align: middle;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    color: inherit;
    cursor: pointer;
}

.navbar a:hover {
    /* color: yellowgreen; */
    background-color: #506473;
}

.navbar .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    border: unset;
    background: unset;
    cursor: pointer;
    display: none;
}

.navbar .hamburger .svg-wrap {
    height: 100%;
    padding: 1em;
}

.navbar .hamburger .svg-wrap svg {
    stroke: #fffafa;
    height: 100%;
    display: block;
    width: 100%;
}

.navbar .hamburger .svg-wrap .icon-close {
    display: none;
}

@media screen and (max-width: 480px) {
    .navbar.open ul {
        display: block;
    }

    .navbar.open ul .nav-toggle {
        display: block;
    }

    .navbar.open .company-name {
        display: block;
    }

    .navbar.open a {
        display: block;
    }

    .navbar ul .nav-toggle {
        display: none;
    }

    .navbar .hamburger {
        display: block;
    }

    .navbar.open .hamburger .svg-wrap .icon-open {
        display: none;
    }

    .navbar.open .hamburger .icon-close {
        display: block;
    }
}

/* Headings */

h1, h2, h3 {
    color: #0e1214;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-style: italic;
    vertical-align: center;
    filter: drop-shadow(5px 5px 5px lightgray);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

h3 {
    font-style: italic;
}

/* Hero */

#hero {
    text-align: center;
}

#hero img {
    width: 100%;
}

.prompt {
    font-weight: bold;
    font-size: 1.25em;
    padding-left: 2em;
    padding-right: 2em;
}

#lets-go {
    font-size: 1.25em;
    background-color: #000059;
    color: #fffafa;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px lightgray);
}

#lets-go:hover {
    background-color: #0000d9;
    text-shadow: 2px 2px #263037;
    font-style: italic;
}

/* Main */

h3 img {
    height: 1em;
}

#about, #services, #contact {
    width: 50%;
}

@media screen and (max-width: 480px) {
    #about, #services, #contact {
        width: 75%;
    }
}

/* About */

.about-p {
    margin: 0 auto;
    margin-bottom: 1em;
    /* width: 66%; */
}

/* Services */

#services-grid {
    margin: 0 auto;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2em;
}

.services-card {
    margin: 0 auto;
    background-color: #f2f8ff;
    filter: drop-shadow(5px 5px 5px lightgray);
    padding: 1em;
    border: 1px solid #263037;
    border-radius: 10px;
}

.services-icon {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.services-icon img {
    text-align: center;
    height: 2em;
}

.services-card h3 {
    vertical-align: center;
}

/* Contact */

#contact {
    filter: drop-shadow(5px 5px 5px lightgray);
}

form {
    background-color: #f2f8ff;
    width: 75%;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #263037;
    border-radius: 10px;
}

@media screen and (max-width: 480px) {
    form {
        width: 75%;
    }
}

fieldset {
    background-color: #f2f8ff;
    border: 1px solid #263037;
    border-radius: 10px;
    margin-top: 1em;
}

legend {
    font-weight: bold;
}

.newsletter {
    background-color: white;
}

input[type=text], input[type=email], textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0 auto;
    border: 1px solid #263037;
    border-radius: 10px;
    width: 100%;
}

input[type=submit] {
    background-color: #000059;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border: none;
    border-radius: 10px;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #0000d9;
    font-style: italic;
    text-shadow: 2px 2px #263037;
}

input[type=radio] {
    margin-left: 1em;
    margin-bottom: 1em;
    transform: scale(1.5);
}

textarea {
    resize: none;
}

label {
    display: inline-block;
    margin-bottom: 0.25em;
    font-weight: bold;
}

/* Footer */

footer {
    background-color: #263037;
    color: #fffafa;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.social-icon img {
    display: inline-block;
    height: 1em;
    filter: invert(1);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}